<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.contest.mapper.GroupMapper">
  <resultMap id="BaseResultMap" type="com.answer.contest.entity.GGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ticket_num" jdbcType="INTEGER" property="ticketNum" />
  </resultMap>
</mapper>