<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.contest.mapper.QuestionDetailMapper">
  <resultMap id="BaseResultMap" type="com.answer.contest.entity.QuestionDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
</mapper>